@{
	ViewBag.Title = "HomePage";
}

<div class="jumbotron">
	<h1>Event Application</h1>
	<p class="lead">Find Events near you. Never miss out again!</p>

</div>


<div class="row">
	<div class="col-md-4">
		<h2>Find an Event</h2>
		Event or Event Type:
		<br />
		<input name="TextBox1" id="TextBox1" type="text">
		<br />
		Location, City, or State:
		<br />
		<input name="TextBox2" id="TextBox2" type="text">
		<br />
		<p><a class="btn btn-default" href="http://localhost:14210/Home/Index">Search &raquo;</a></p>


		<p>
	</div>
	<div class="col-md-4">
		
	</div>

	<div class="col-md-4">
		<h2>Last Minute Deals</h2>
		<p>Title:<br />Start Date:<br />City:<br />State:<br />
		<p>
	</div>

</div>