
@{
	ViewBag.Title = "Register";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>

Event Title

<h2>Find an Event</h2>
		Number of Tickets
<br />
<input name="TextBox1" id="TextBox1" type="text">
<br />


<p><a class="btn btn-default" href="http://localhost:14210/Home/Register">Register &raquo;</a></p>

