@model IEnumerable<EnrollmentApplication.Models.Student>

<div id="Search_by_Student">
	<ul>
		@foreach (var item in Model)
		{
		<li>"item.StudentFirstName + item.StudentLastName"</li>
		}
	</ul>

</div>
