
@{
	ViewBag.Title = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<p class="lead">EventType</p>

Type
<br />
<input name="TextBox1" id="TextBox1" type="text">
<p><a class="btn btn-default" href="http://localhost:14210/Home/Create">Create &raquo;</a></p>
