
@{
	ViewBag.Title = "Find";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Find an Event</h2>
		Event or Event Type:
<br />
<input name="TextBox1" id="TextBox1" type="text">
<br />
		Location, City, or State:
<br />
<input name="TextBox2" id="TextBox2" type="text">
<br />
<p><a class="btn btn-default" href="http://localhost:14210/Home/Find">Search &raquo;</a></p>
