
@{
	ViewBag.Title = "Organize";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>OrganizeEvent</h2>

Event Type
<br />
<input name="TextBox1" id="TextBox1" type="text">
<br />
Title
<br />
<input name="TextBox2" id="TextBox2" type="text"><br />
Description
<br />
<input name="TextBox3" id="TextBox3" type="text">
<br />
Start Date
<br />
<input name="TextBox4" id="TextBox4" type="text">
<br />
End Date
<br />
<input name="TextBox5" id="TextBox5" type="text">
<br />
Max Tickets
<br />
<input name="TextBox6" id="TextBox6" type="text">
<br />
Available Tickets
<input name="TextBox7" id="TextBox7" type="text">
<br />
Organizer
<br />
<input name="TextBox8" id="TextBox8" type="text">
<br />
Organizer Contact Info
<br />
<input name="TextBox9" id="TextBox9" type="text">
<br />
City
<br />
<input name="TextBox10" id="TextBox10" type="text">
<br />
State
<br />
<input name="TextBox11" id="TextBox11" type="text">