
@{
    ViewBag.Title = "TicketsOrdered";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TicketsOrdered</h2>

Order Number:
<br />
Number of Tickets:
<br />
Date Ordered:
<br />
Event Title:
<br />
Event Description: <br />
Event State Date: <br />
Event Start Time: <br />
Event End Date: <br />
Event End Time:

				<p><a class="btn btn-default" href="http://localhost:14210/Home/Index">Back to Browse &raquo;</a></p>

				<p><a class="btn btn-default" href="http://localhost:14210/Home/TicketsOrdered">Cancel &raquo;</a></p>
